APP_ENV=dev
APP_PORT=8080
APP_SECRET=change-me

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=pos_kopitiam
# Log Levels: silent, error, warn, info
DB_LOG_LEVEL=warn

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=super-secret-jwt-key-change-in-production
JWT_EXPIRY=24h
REFRESH_TOKEN_EXPIRY=168h
