# ====================================
# APPLICATION CONFIGURATION
# ====================================
APP_ENV=dev
PORT=3400

# ====================================
# DATABASE CONFIGURATION
# ====================================
DB_HOST=127.0.0.1
DB_PORT=4406
DB_USER=root
DB_PASSWORD=rahasia123
DB_NAME=pos_kopitiam
